@import "../../app.scss";


.parallax{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    h1{
        font-size: 100px;

        @include mobile{
            font-size: 80px;
            text-align: center;
        }
    }


    .stars{
        background-image: url("./stars.png");
        background-size: cover;
        background-position: bottom;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .planets{
        background-image: url("./planets.png");
        background-size: cover;
        background-position: bottom;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        
        @include mobile{
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    .mountains{
        background-image: url("./mountains.png");
        background-size: cover;
        background-position: bottom;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 3;



        @include mobile{
            background-size: contain;
            background-repeat: no-repeat;
        }

    }
}